<header class="container mx-auto py-5">
  <div class="flex justify-between items-center">
    <!--  Navigation  -->
    <div class="flex items-center">
      <a routerLink="/">
        <img src="./assets/images/logo.svg" alt="Logo" class="w-16 h-10">
      </a>
      <nav class="ml-14">
        <ul class="flex">
          <li class="mr-10">
            <a routerLink="/" class="link">Главная</a>
          </li>
          <li class="mr-10">
            <a routerLink="/" class="link">Как пользоваться</a>
          </li>
          <li class="mr-10">
            <a routerLink="/" class="link">Как пополнить счёт</a>
          </li>
          <li>
            <a routerLink="/" class="link">О проекте</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Actions   -->
    <div class="flex items-center">
      <a routerLink="/">
        <img src="./assets/images/icons/search.svg" class="w-6 g-6" alt="Search icon">
      </a>
      <button class="flex items-center ml-6" uiButton variant="outline">
        <img src="./assets/images/icons/user.svg" class="w-5 h-5" alt="User icon">
        <span class="ml-3">Войти</span>
      </button>
    </div>
  </div>
</header>
