<div class="bg-muted py-6">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <a routerLink="/">
          <img src="./assets/images/footer-logo.svg" alt="Footer logo" class="w-20 h-7">
        </a>

        <nav class="ml-10">
          <ul class="flex items-center">
            <li class="mr-10">
              <a routerLink="/" uiLink>Как пользоваться</a>
            </li>
            <li class="mr-10">
              <a routerLink="/" uiLink>Как пополнить счёт</a>
            </li>
            <li>
              <a routerLink="/" uiLink>О проекте</a>
            </li>
          </ul>
        </nav>
      </div>

      <nav>
        <ul class="flex items-center">
          <li class="mr-10">
            <a routerLink="/" uiLink>Кабинет Заказчика</a>
          </li>
          <li>
            <a routerLink="/" uiLink>Кабинет Испольнителя</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
